/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* for some reason the template sets word-wrap: word-break to body */
  word-wrap: initial; 
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive navigation buttons on landing page */
.heroBanner .buttons + .buttons {
  margin-top: 16px;
}

.heroBanner .buttons a {
  margin-left: 0.5ch;
}

@media screen and (max-width: 768px) {
  .heroBanner .buttons {
   flex-direction: column;
  }
  .heroBanner .buttons a {
    width: 90%;
  }
  .heroBanner .buttons a + a {
    margin-top: 8px;
  }
}
/* END  */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
