:root {
  --ifm-color-primary: #0168fa;
  --ifm-color-primary-dark: #0150c0;
  --ifm-color-primary-darker: #003a90;
  --ifm-color-primary-darkest: #002460;
  --ifm-color-primary-light: #1a7cfc;
  --ifm-color-primary-lighter: #338fff; /* Fixed typo here */
  --ifm-color-primary-lightest: #4da2ff;

  --ifm-border-color: hsl(220, 50%, 85%);
  --ifm-toc-border-color: var(--ifm-border-color);
  --ifm-background-color: hsl(220, 20%, 98%);
}

html {
  font-size: 17px;
}

p {
  font-size: 18px;
}

.menu {
  font-size: 17px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-version-badge {
  margin-top: 0;
  margin-bottom: 20px;
}

code {
  padding: 5px;
  font-weight: 500;
}

[data-theme="dark"] {
  --ifm-color-primary: #0168fa;
  --ifm-color-primary-dark: #0158da;
  --ifm-color-primary-darker: #0148ba;
  --ifm-color-primary-darkest: #01389a;
  --ifm-color-primary-light: #0278fa;
  --ifm-color-primary-lighter: #0388fa;
  --ifm-color-primary-lightest: #0498fa;

  --ifm-border-color: hsl(220, 50%, 15%);
  --ifm-toc-border-color: var(--ifm-border-color);
  --ifm-background-color: hsl(220, 40%, 10%);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.hosted {
  color: #01389a;
  font-weight: bold;
}

[data-theme="light"] .shiki.min-dark {
  display: none;
}

[data-theme="dark"] .shiki.min-light {
  display: none;
}

.navbar--fixed-top {
  backdrop-filter: blur(12px);
  background-color: transparent;
}

.menu__link,
.menu__list-item-collapsible {
  border-radius: 10px;
}

/* icons */
.navbar__icon:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: var(--ifm-navbar-link-color);
}

.navbar__icon:hover:before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.navbar__github:before {
  mask: url(/icons/github.png) no-repeat 100% 100%;
  mask-size: cover;
}

.navbar__twitter:before {
  mask: url(/icons/twitter.png) no-repeat 100% 100%;
  mask-size: cover;
}

.navbar__discord:before {
  mask: url(/icons/discord.png) no-repeat 100% 100%;
  mask-size: cover;
}
